@media screen and (max-width: 1300px){
    #fitness{
        height: 50%;
        transition: 800ms;
  
    }
  }
  @media screen and (max-width: 1050px){
    
    #fitness{
        height: 40%;
       
       right: 0px;
       
       top: 200px;
    }
    
   
  }
  @media screen and (max-width: 922px){
  
    #fitness{
        display: none;
        
        
    }
    
    img{
      width: 70%;
      height: 45%;
    }
    footer{
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 300px auto 35px;
      grid-template-areas: "informacion  redes      "
                            "contacto   contacto"
                           "  foot       foot";
    }
    .catalogo1{
     justify-self: center;
     height: 75%;
    }
    .catalogo2{
      justify-self: center;
      height: 75%;
    }
    .catalogo3{
      justify-self: center;
      padding-top: 0;
    }
    .mision{
      margin: 0px auto;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 80% !important;
    }
    
    #Initial{
        text-align: center;
        margin:0px auto;
        padding-left: 0px;
        margin-top: 50px;
    }
    .checkbtn{
        display: block;
        margin-right: 40px;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
      #Initial{
        width: 80%;
        margin-top: 100px;
      }
      #Initial>h1{
        font-size: 44px;
      }
      #Initial>p{
        margin-top: 32px;
        font-size: 22px;
        line-height: 32px;
      }
      #articulos{
        margin-top: 100px;
      }
      label.logo{
        
        padding: 0px;
        display: inline list-item;
        margin-left: 36%;
        font-size: 50px;
       
      }
     

  }

  @media screen and (max-width: 400px){
    .mision{
      width: 300px;
    }
  
    body{
      overflow-x: hidden;
    }
    #Initial>h1{
      font-size: 44px;
    }
    #Initial>p{
      font-size: 22px;
    }
    label.logo{
        
     
      margin-left: 10%;
     
    }
  
 

  }